.btn-rust {
  display: block;
  color: rgba(232,230 ,227, 0.6);
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: rgba(88, 96, 99, 0.5);
}