
.App {
  font-family: 'Staatliches';
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.bg-rust-1 {
  background-color: rgba(24, 23, 18, 0.9);
}

.bg-rust-2 {
  background-color: rgba(28,30, 31 , 0.7);;
}

.bg-rust-3 {
  background-color: rgba(205, 65, 43, 0.21);
}
.App:after {
  background-image: url(../images/pattern.png);
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 500;
  pointer-events: none;
  opacity: 0.6;
}

.video {
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}


.sidebar-block-bottom {
  margin: 0 1rem 0 auto;
}

.sidebar-block-top {
  margin: 0 auto 0 1rem;
}

.sidebar-block-item {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

.sidebar-block-item a {
  color: white;
}

.sidebar-right {
  width: 100%;
  z-index: 1;
}

.sidebar-left {
  width: 100%;
}

.wrapper {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.sidebar-right i {
  font-size: 2rem;
}

.align-self-top {
  align-self: flex-start;
}

.navbar {
  margin: auto 0;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flex-wrap {
  flex-wrap: wrap;
}


.sidebar-block-center {
  margin: 0 0 auto 0;
}

.nav-tabs {
  list-style: none;
}

.navbar-item {
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.navbar-item * {
  color: rgba(255, 255, 255,1);
  text-decoration: none;
}

.align-self-center {
  align-self: center;
}

.home-title {
  font-size: 3rem;
}
.home-sub-title {
  font-size: 1.5rem;
}

.tab {
  height: 100%;
}



/* DESKTOP */
@media (min-width: 960px) {
  .home-title {
    font-size: 5rem;
  }
  .home-sub-title {
    font-size: 3rem;
  }

  .sidebar-left {
    width: 25%;
  }

  .sidebar-left .sidebar-container {
    padding-left: 3rem;
  }
  .wrapper {
    width: 70%;
  }
  .sidebar-right {
    width: 5%;
    flex-direction: column;
    min-width: 1rem;
  }

  .sidebar-block-bottom,.sidebar-block-top {
    flex-direction: column;
  }

  .sidebar-block-item {
    margin: 1rem 0;
  }

  .sidebar-block-bottom {
    margin: auto 0 3rem 0;
  }

  .sidebar-block-top {
    margin: 5rem 0 auto 0;
  }

  #icon-menu {
    display: none;
  }

  .navbar-item {
    font-size: 3rem;
  }

  .home-title {
    font-size: 10rem;
  }
  .home-sub-title {
    font-size: 6rem;
  }

}


#icon-menu {
  padding: 1rem;
  position: relative;
  width: 30px;
}


.logo-rust {
  font-size:30px;
  cursor:pointer;
  width: 100%;
  max-width: 250px;
}
/*MOBILE*/
@media (max-width: 959px) {
  .sidebar-block-center {
    margin: 3rem 0 auto 2rem;
  }
  .sidebar-right {
    background-color: rgba(28,30, 31 , 0.7);
    height: 100%;
    max-height: 5vh;
    padding: 2rem 0;
  }

  .sidebar-left {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgba(28,30, 31 , 0.7);;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  #home .container{
    margin: 0 auto;
  }

  .wrapper {
    transition: margin-left .5s;
    min-height: 95vh;
  }

  .open .sidebar-left{width: 80vw;}
  .open .wrapper {margin-left:80vw;}
  .App:not(.open) .sidebar-left{width: 0;}
  .App:not(.open) .wrapper{margin-left: 0;}

  .wrapper-block-title {
    display: none;
  }

  .title-page {
    flex-direction: column;
  }
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.tab.is-active {
  display: flex;
}

.tab:not(.is-active) {
  display: none;
}

.navbar-item.is-active,.navbar-item:hover {
  opacity: 1!important;
}

.navbar-item:not(.is-active) {
  opacity: 0.5;
}

.wrapper-block-title {
  width: 30%;
  padding: 3rem 0;
}


.wrapper-block-title .title {
  font-size: 3rem;
  padding: 0 1rem;
}

.list-servers {
  margin-top: 5rem;
  font-size: 1.5rem;
}

.list-servers li {
  cursor: pointer;
  align-items: center;
  display: flex;
  padding: 1rem 2rem;
  margin-left: 2rem;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin-bottom: 2rem;
}

.list-servers i {
  width: 5rem;
  text-align: left;
  font-size: 3rem;
}


.block-title-btn {
  margin-top: auto;
  margin-bottom:0;
  margin-right: 1rem;
  margin-left: 1rem;
}


.wrapper-block-container {
  width: 100%;
  padding: 1rem;
}

@media (min-width: 960px) {
  .wrapper-block-container {
    width: 70%;
    padding: 3rem;
    background-color: rgba(28,30, 31 , 0.7);;
  }
}

.t-center {
  text-align: center;
}

.table {
  margin-top: 3rem;
}


.table-item li:nth-child(1),.table-head li:nth-child(1){
  width: calc(100% / 4);
}

.table-item li:nth-child(2),
.table-head li:nth-child(2),
.table-item li:nth-child(3),
.table-head li:nth-child(3){
  width: calc(100% / 6);
}

.table-head li {
  background-color: rgba(69, 85, 42, 0.6);
}

.table-head li,.table-item li {
  padding: 1rem 1rem;
  margin: 0 1rem 0 0;
}

.card-status {
  width: 40%;
  margin: 0 auto 0 0;
}

h1.title {
  font-size: 3rem;
  text-align: center;
}

h3.title {
  font-size: 1rem;
}
@media (min-width: 960px) {
  h1.title {
    font-size: 5rem;
  }

  h3.title {
    font-size: 2rem;
  }
}
.title-page {
  justify-content: center;
  margin-bottom: 4rem;
}

.badge-status {
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
  line-height: 2rem;
  display: inline-block;
}

@media (min-width: 960px) {
  .badge-status {
    font-size: 3rem;
    padding: 0.5rem;
    margin-left: 1rem;
    line-height: 4rem;
    display: inline-block;
  }
}

.badge-status.online {
  background-color: rgba(69, 85, 42, 0.6);
}

.badge-status.offline {
  background-color: rgba(134, 38, 38,0.6);
}

.disabled {
  opacity: 0.1;
  pointer-events: none;
  cursor: default;
}

.sidebar-block-item .fa-envelope{
  transform: rotate(-20deg)
}